table{
	width: 520px;
	height: 200px;
	font-family: sans-serif;
	font-size: 14px;
}

th.a {
    background: #a3cee9;
    color: white;
    font-weight: normal;
    
   }
th.b{
	background: #a3cee9;
    color: white;
    font-weight: bold;
   }

th {
    background: #d3e7f4;
    font-weight: normal;
}
